@font-face {
  font-family: 'Foco Trial';
  src: url('../fonts/Foco_Trial.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Foco Trial';
  src: url('../fonts/Foco_Trial_Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Foco Trial';
  src: url('../fonts/Foco_Trial_Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Foco Trial';
  src: url('../fonts/Foco_Trial_LtIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Foco Trial';
  src: url('../fonts/Foco_Trial_It.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Foco Trial';
  src: url('../fonts/Foco_Trial_BdIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Foco Trial';
  src: url('../fonts/Foco_Trial_Blk.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Foco Trial';
  src: url('../fonts/Foco_Trial_BlkIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Foco';
  src: url('../fonts/foco.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
